@font-face {
    font-family: 'IranSans';
    src: url("fonts/IRANSans.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IranSans';
    src: url("fonts/IRANSans-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'IranSans';
    src: url("fonts/IRANSansUltraLight.woff") format("woff");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'IranSans';
    src: url("fonts/IRANSansLight.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

*
{
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    margin: 0;
    padding: 0;
}

body
{
    font-family: 'IranSans', 'Roboto', sans-serif;
    font-weight: 300;
}