#main_container {
    background-image: url("background.jpg");
    background-size: cover;
    background-position: center center;
    position: fixed;
    min-width: 100%;
    min-height: 100%;

    color: white;


    text-shadow: 2px 2px 10px #000;

    direction: rtl;
}

#main_container::before {
    display: block;
    content: '';

    width: 100%;
    height: 20%;
    top: 0;

    position: fixed;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&1+0,0+100 */
    background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

#main_container::after {
    display: block;
    content: '';

    width: 100%;
    height: 20%;
    bottom: 0;

    position: fixed;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,1+99 */
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 99%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 99%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 99%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */

    z-index: 990;
}

.logo_holder {
    position: fixed;

    width: 100%;

    left: 50%;
    top: 50%;

    -webkit-transform: translate( -50%, -50%);
    -moz-transform: translate( -50%, -50%);
    -ms-transform: translate( -50%, -50%);
    -o-transform: translate( -50%, -50%);
    transform: translate( -50%, -50%);

    text-align: center;
}

.logo_holder h1 {
    font-size: 72px;
    font-weight: normal;
}

.coming_soon {
    font-size: 50px;

    position: fixed;

    right: 5%;

    bottom: 5%;

    z-index: 999;
}

.intro_info {
    font-size: 25px;
}

.intro_info span {
    font-weight: 500;
}

h1 {
    margin-bottom: 5px;
}

.go_to_survey {
    font-size: 20px;

    color: white;

    text-align: center;

    background-color: rgba(0,0,0,0.3);

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    border: 2px solid white;

    padding: 10px 20px;

    display: inline-block;

    margin-top: 20px;

    -webkit-box-shadow:  0px 0px 10px #666;
    -moz-box-shadow:  0px 0px 10px #666;
    box-shadow:  0px 0px 10px #666;
}


@media only screen and (max-width: 999px) {
    .intro_info {
        font-size: 45px;
    }

    .go_to_survey {
        font-size: 40px;
    }
}