a {
    cursor: pointer;
}

html, body {
    height: 100%;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
}

.wrapper {
    position: absolute;
    width: 100%;
    min-height: 100%;
}

#main_container {
    width: 360px;

    margin: 40px auto;

    direction: rtl;
}

.input-field label {
    left: auto;
    right: 0.75rem;
}

.select-wrapper span.caret {
    right: auto;
    left: 0;
}

.dropdown-content li>a, .dropdown-content li>span {
    direction: rtl;
    text-align: right;
}

input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #ffa000;
    box-shadow: 0 1px 0 0 #ffa000;
}

input:not([type]):focus:not([readonly])+label, input[type=text]:focus:not([readonly])+label, input[type=password]:focus:not([readonly])+label, input[type=email]:focus:not([readonly])+label, input[type=url]:focus:not([readonly])+label, input[type=time]:focus:not([readonly])+label, input[type=date]:focus:not([readonly])+label, input[type=datetime-local]:focus:not([readonly])+label, input[type=tel]:focus:not([readonly])+label, input[type=number]:focus:not([readonly])+label, input[type=search]:focus:not([readonly])+label, textarea.materialize-textarea:focus:not([readonly])+label {
    color: #ffa000;
}

[type="radio"]:checked+label:after {
    border: 2px solid #ffa000;
    background-color: #ffa000;
}

[type="radio"].with-gap:checked+label:before {
    border: 2px solid #ffa000;
}

[type="radio"].with-gap:checked+label:after {
    border: 2px solid #ffa000;
    background-color: #ffa000;
}

hr {
    width: 100%;
}

.btn {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.survey_guide {
    margin-top: 10px;
    font-size: 22px;
    text-align: center;
}

.survey_guide span {
    font-weight: bold;
}

.survey_body {
    padding: 20px 10%;
    position: relative;
}

.survey_overlay {
    position: absolute;
    width: 100%;
    height: 100%;

    top: 0;
    left: 0;

    background-color: rgba(255,255,255, 0.7);

    display: none;

    z-index: 9999;
}

.row {
    margin-bottom: 0;
}

p {
    padding: 0 0.75rem;
}

#email_help {
    color: #a3a3a3;
    font-size: 18px;
    margin: 10px 0;
    text-align: center;
}

#email {
    direction: ltr;
}

#buy_help {
    font-size: 18px;
    margin: 10px 0;
    color: black;
}

label {
    font-size: 16px;
}

.input-field.no-margin {
    margin-top: 0;
    margin-bottom: 1rem;
}

.survey_footer p {
    font-size: 16px;
    margin: 5px 0;
}

.survey_step {
    display: none;
}

.survey_step.active {
    display: block;
}

.dropdown-content li>a, .dropdown-content li>span {
    color: #616161;
}

.prev_page_wrapper {
    padding-top: 10px;
    display: none;
    text-align: center;
}

#prev_page {
    padding-top: 10px;
}

#next_page,
#send_survey {
    width: 160px;
    padding: 20px;
}

#next_page { margin-left: 5px; }

#send_survey { margin-right: 5px; }


.filled-input {
    border-bottom-color: #4CAF50 !important;
    box-shadow: 0 1px 0 0 #4CAF50 !important;
}

#survey_reward {
    display: none;
    color: #4CAF50;
}

.error {
    display: none;
    color: #F44336;
    font-size: 14px;
}

.g-recaptcha > div > div {
    margin: 0 auto 15px auto;
}

#survey_end {
    text-align: center;
}

#survey_reward_amount {
    font-size: 55px;
    color: #ffa000;
    font-weight: 500;
}

#survey_end h2 {
    font-size: 30px;
}

#survey_end p {
    font-size: 22px;
}

#register_end {
    text-align: center;
}

#register_end p {
    font-size: 22px;
}